.AdminDashboard {
  width: 100%;
  height: 100%;
}
#container, #sliders {
  min-width: 310px;
  max-width: 800px;
  margin: 0 0;
  height: 400px;
}
.amchart {
  display: inline-block;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.appdetailsTH{
  background-color: #2E77B8;
  color:#FFFFFF;
}
.inventory tr:nth-child(odd) {
  background-color: #2E77B8;
  color:#FFFFFF;
}

.amcharts-chart-div a{
  visibility: hidden;
}
.buss_impact_eve_table {
  padding: 20px !important;
  color: white;
}

.green_color {
  background-color: #009933;
}

.yellow_color {
  background-color: #b3b300;
}

.red_color {
  background-color: #ff6633;
}

.app_font {
  font-family: 'inherit';
}

.login_logo {
  margin-left: auto;
  margin-right: auto;
}

.app_container {
  width: 100%;
}

#customerData:active {
  background-color: yellow;
}

.sortable-table .table thead th{
background-color: #2E77B8 !important;

}

.sortable-table .search-box input.search {
  border: 2px solid #2E77B8 !important;
}


.page_wrapper {
  padding-top: 5%;
  width: 100% !important;
  background-color: rgb(243, 242, 242);
}


.view_page_table {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 70% !important;
}

.view_page_table tr:nth-child(odd) {
    background-color: #2E77B8 !important;
    color:#FFFFFF;
   
}


.inline_block {
  display: inline-block;
}
